---

- name: Install autossh
  apt:
    name: autossh
    state: present

- name: Ensure ssh directory exists
  file:
    path: "{{ autossh_ssh_dir }}"
    state: directory
    mode: 0700

- name: Ensure known hosts file exists
  copy:
    content: ""
    dest: "{{ autossh_known_hosts_file }}"
    force: no

- name: Scan for destination servers' public keys
  shell: ssh-keyscan {{ item.server }} >> {{ autossh_known_hosts_file }}
  changed_when: false
  with_items: "{{ autossh_connections }}"

- name: Copy autossh services to systemd
  template:
    src: templates/autossh.service.j2
    dest: "{{ autossh_systemd_dir }}/autossh-{{ item.id | lower | regex_replace('\\s+', '-') | regex_replace('[^a-z0-9-]', '') }}.service"
    mode: 0644
  with_items: "{{ autossh_connections }}"
  register: autossh_systemd_service

- name: Reload systemd manager configuration
  systemd:
    daemon-reload: yes
  when: autossh_systemd_service.changed

- name: Enable autossh services
  systemd:
    name: "{{ item.dest | basename }}"
    enabled: yes
    state: restarted
  when: autossh_systemd_service.changed and item.dest is defined
  with_items: "{{ autossh_systemd_service.results }}"
